body {
  font-family: 'Raleway', sans-serif !important;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.post-container {
  padding: 15px 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-container {
  height: 75%;
  max-width: 100%;
  padding-bottom: 1rem;
}

.post-image {
  max-width: 100%;
  height: 500px;
}

.title-container {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.comments-alignment {
  text-align: left;
}

#image-caption {
  text-align: left;
  margin-top: 1rem;
}
