<%- include("../partials/header") %>

<h1>Posts connected</h1>

<figure class="figure">
  <img
    src="https://miro.medium.com/max/1400/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg"
    class="figure-img img-fluid rounded"
    alt="A generic square placeholder image with rounded corners in a figure."
  />
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

<h2><%= posts %></h2>

<%- include("../partials/footer") %>
